av==16.0.1
boto3==1.40.57
decord==0.6.0
diffusers==0.35.2
easydict==1.13
einops==0.8.1
flash_attn==2.8.3
ftfy==6.3.1
h5py==3.15.1
huggingface_hub==0.35.3
imageio==2.37.0
lightning==2.5.5
matplotlib==3.10.7
numpy==2.3.4
omegaconf==2.3.0
open3d==0.19.0
opencv_python==4.12.0.88
peft==0.17.1
Pillow==12.0.0
ray==2.50.1
scipy==1.16.2
torch==2.9.0
torchvision==0.24.0
tqdm==4.67.1
transformers==4.57.1
wandb==0.22.2
xformers==0.0.32.post2
xfuser==0.4.4
